<ng-container [ngSwitch]="data.action">
  <ng-container *ngSwitchCase="'loading'">
    <div class="d-flex align-content-center">
      <span>{{data.action | titlecase}} {{data.type}}</span>
      <span class="flex-spacer"></span>
      <mat-progress-spinner class="mx-auto d-inline" color="primary" diameter="30" mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'copied'">
    <div class="d-flex align-content-center">
      <span>Copied to clipboard!</span>
      <span class="flex-spacer"></span>
      <mat-icon color="primary">check</mat-icon>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'deleting'">
    <div class="d-flex align-content-center">
      <span class="text-capitalize">{{data.action | titlecase}} {{data.type}}</span>
      <span class="flex-spacer"></span>
      <mat-progress-spinner class="mx-auto d-inline" color="warn" diameter="30" mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'sent'">
    <div class="d-flex align-content-center">
      <span>{{data.type}} {{data.message}}</span>
      <span class="flex-spacer"></span>
      <mat-icon color="primary">check</mat-icon>
    </div>
  </ng-container>
  <!-- default for updated, added, deleted -->
  <ng-container *ngSwitchDefault>
    <div class="d-flex align-content-center">
      <span>{{data.type | titlecase}} {{data.action}}!</span>
      <span class="flex-spacer"></span>
      <mat-icon class="text-success">check</mat-icon>
    </div>
  </ng-container>
</ng-container>
