dl {
  font-size: 15px !important;
}
.larger-title {
  font-size: 18px !important;
}
mat-divider {
  position: relative !important;
}
.icon-large {
  transform: scale(1.25);
}
.stig-dl {
  font-size: 16px !important;
}
tr {
  vertical-align: baseline !important;
  margin-bottom: 10px !important;
}
